<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>IS KING</th>
        <th>IS GOOD GUY</th>
        <th>DONATE</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${accountStat.index}"></td>
        <td th:text="${account.getName()}"></td>
        <td th:text="${account.getBalance()}"></td>
        <td th:text="${account.getAnimalType()}"></td>
        <td th:utext=" ${account.isKing()} ? ${fancyYes} : 'No'"></td>
        <td th:text="${account.isGoodGuy()} ? 'Bad guy' : 'Good guy'"></td>
        <td><form action="#" th:action="${account.increaseBalance()}" method="post"><input type="submit" value="Donate"/></form></td>
    </tr>
</table>
</body>
</html>