<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Todos for today</h1>
<a th:href="@{add}">Add new ToDos</a>
<br/>
<br/>
<table th:border="2">
    <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Done </th>
        <th> Urgent </th>
        <th> Assignee </th>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}">Id</td>
        <td th:text="*{title}">title</td>
        <td th:text="*{done}">done</td>
        <td th:text="*{urgent}">urgent</td>
        <td th:text="*{assignee}">assignee</td>
        <td>
            <form action="#" th:action="@{*{id}} + '/delete'" method="POST">
            <input type="submit" value="delete"/>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{*{id}} + '/edit'" method="GET">
                <input type="submit" value="edit"/>
            </form>
        </td>
    </tr>
</table>
<form action="/todo/" method="get">
        <input type="text" th:placeholder="${searchPlaceholder}" name="title"/>
        <select name="isActive">
            <option value="">All</option>
            <option value="true">Done</option>
            <option value="false">Undone</option>
        </select>
        <input type="submit" value="Search"/>
</form>
<form action="#" th:action="@{'assigneeManager'}" method="get">
    <input type="submit" value="Manage assignees"/>
</form>
</body>
</html>